.user-form{
  max-width: 1169px;
  min-height: 768px;
  margin: auto;
  padding: 60px 90px 90px 90px;

  background-color: #FFFFFF;
}
.user-form__block{
  border-bottom: 1px solid #E5E4E4;
  padding: 32px 10px;


  &:last-child{
    border: none;
  }
}

.user-form__block{
  border-bottom: 1px solid #E5E4E4;
  padding: 32px 10px;


  &:last-child{
    border: none;
  }
}



.user-form__field{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;

  &:last-child{
    margin-bottom: 0;
  }
}
.user-form__label{
  min-width: 223px;

  font-size: 21px;
  line-height: 19px;
}


.user-form__info{
  display: inline-block;
  align-self: flex-end;
  margin-left: 18px;

  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

@media (max-width: 976px) {
  .user-form__field{
    flex-direction: column;
  }
  .user-form__info{
    align-self: center;
  }
  .user-form__label{
    padding-bottom: 17px;
  }
}